.signup_full{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 205, 205);
    margin: 50px;
    width: 60%;
    height: 470px;
}

.signup_content_full{
    width: 60%;
}

.signup_header{
    font-size: xx-large;
    text-align: left;
    margin-bottom: 50px;
    font-family: 'Abril Fatface', cursive;
}

.form-control{
    width: 100% !important;
}

.show_password{
    margin-top: 0px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.show_password > p{
    padding-top: 13px;
    height: 100%;
    margin-left: 10px;
    font-size: medium;
    font-family: 'Itim', cursive;
}

.show_password> input{
    text-decoration: none;
}

.user_icon{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success_message{
    margin-top: 30px;
}

.success_message > a{
    background-color: black;
    color: white;
    font-size: medium;
    width: 150px;
    font-family: 'Itim', cursive;
    border-radius: 30px;
    display: block;
}

