.supervisor_full{
    border: 5px solid black;
    margin-top: 30px;
    width: 100%;
    height: auto;
    padding: 10px;
}

hr{
    border-top: 3px solid rgb(87, 87, 87) !important;
}

.supervisor_name{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}